.resume {
    display: flex;
    
}
.left, .right {
    flex: 1;
    padding: 30px;
    margin: 45px;
}
.one, .two, .three {
    color:#d95990;
}
.wordmark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav{
    background-color: #F8F6EF;
    padding:10px;
    margin-bottom:30px;
}
.form{
    padding: 30px;
    margin: 45px;
    background-color: #E27FAA;
    padding-right: 4em;
    border-radius: 10px;
}
.form1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    
}
nav a {
    color: #725d4b;
}
h1, h2, p, ul {
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 600px) {
    .resume {flex-wrap: wrap;}
    #submit {width: 35%;}
    .hillel1, .campaign1, .sixtysecond1, .pawp1, .adv1 {display:block; margin: 0 auto; width: 65%; height: 65%;}
    .fb2, .fb3, .fb4 {flex-wrap: wrap;}
    .pic1 {display: none;}
    .pic2 {display: block; width: 40%; margin: 0 auto;}
    }
 @media only screen and (min-width: 768px) {
    .pic2 {display: none;}
    .pic1 {display: block; width: 75%; margin: 0 auto;}
}


#fullname, #reason, #phonenumber {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 5px;
        border: 0;
    }
#submit {
    width: 20%;
    padding: 5px;
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skills{
    display:flex;
    flex-basis: 75%;
    justify-content: space-around;
    text-align: center;
}
.fb2, .fb3, .fb4 {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.fb4 {
    width: 87%;
    margin: 0 auto;
    margin-top: 3em;
}
.intro {
    padding: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    margin-top: 2em;
    color: #725d4b;
}
.hillel, .sixtysecond, .campaign, .adv, .pawp {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
    margin-top: 2em;
}
.ps, .in, .xd, .ai, .pr, .canva, .html, .css, .excel, .ms, .gwi, .simmons, .commspoint, .warc, .mintel {
    display: block;
    flex: 1;
    text-align: center;
}
.flexbox2 {
    width: 92%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
#thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#sixtysecond, #campaign, #pawp, #adv{
    display: none;
}
.hillel1 { 
    display: block;
    margin-right: auto;
    margin-left: 12em;
}
.sixtysecond1 {
    display: block;
     margin-left: auto;
     margin-right: 12em;
} 
.adv1 {
    display: block;
    margin-right: auto;
    margin-left: 12em;
}
.campaign1 {
    display: block;
    margin-left: auto;
    margin-right: 12em;
}
.pawp1 {
    display: block;
    margin-right: auto;
    margin-left: 12em;
}
.pink1 {
    background-color: #F7B2D1;
    display: flex;
    margin-top: 4em;
    flex: 1;
}
.pawp, .adv {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.skip {
    background-color: #F8F6EF;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: -999px;
}
.skip:focus {
    left: 10px;
}
